body {
  background-color: gray;
}

.App {
  text-align: center;
  position: relative;
 
}

.App-header {
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: gray;
}

.messages-wrapper {
  height: 100vh;
  margin-top:90px; 
  overflow: auto;
  scroll-behavior: smooth ;
}

.addMessage {
  height: 50px;
  margin: 0 auto;
}


@media only screen and ( max-width: 500px){
  .App {
    text-align: left;
  }

  h1{
    opacity: 0;
}

  .App-header {
    background-color: rgba(128,128,128,0.1);
  }
}