body {
  background-color: gray;
}

.App {
  text-align: center;
  position: relative;
 
}

.App-header {
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: gray;
}

.messages-wrapper {
  /* width: 90%; */
  height: 80vh;
  /* border: 1px solid greenyellow; */
  margin-top:90px; 
  /* margin: 0 auto; */
  overflow: auto;
  scroll-behavior: smooth ;
}

.addMessage {
  /* width: 80%; */
  height: 50px;
  /* border: 1px solid black; */
  margin: 0 auto;
  /* margin-top: 20px; */
}