body {
  background-color: gray;
  /* width: 100vw; */
}

.App {
  text-align: center;
  position: relative;
 
}

.messages-wrapper {
  /* width: 90%; */
  height: 80vh;
  /* border: 1px solid greenyellow; */
  margin: 0 auto;
  overflow: auto;
  scroll-behavior: smooth ;
}

.addMessage {
  /* width: 80%; */
  height: 50px;
  /* border: 1px solid black; */
  margin: 0 auto;
  margin-top: 20px;
 
  /* position: fixed; */
  /* bottom: 20px; */
  /* right: calc(100vw/2); */
}