.addMessage-wrapper{
    width: 50%;
    margin: 0 auto;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
}

@media only screen and ( max-width: 500px){
    .addMessage-wrapper{
        width: 95%;
        margin: 0 auto;
    }
}